@import "tailwindcss";

@plugin "tailwindcss-motion";
@plugin "./spring-plugin";

@theme {
  --breakpoint-xs: 475px;
  --font-sans: "Inter", sans-serif;
}

@utility container {
  margin-inline: auto;
}

@utility stepper-hidden {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}

@utility scrollbar-hidden {
  scrollbar-width: 0;

  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes doNothing {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
