@import "tailwindcss";

@plugin "tailwindcss-motion";
@plugin "./spring-plugin";

@theme {
  --breakpoint-xs: 475px;
  --font-sans: "Inter", sans-serif;

  --animate-pan-3d: pan-3d 10s linear infinite;
}

@utility container {
  margin-inline: auto;
}

@utility zoom-* {
  zoom: --value("8", "4", "2");
  zoom: --value(integer);
}

@utility corner-* {
  corner-shape: --value("squircle", "round", "bevel", "notch", "scoop");
}

@utility coerner-superellipse-* {
  corner-shape: superellipse(--value(integer));
}

@utility stepper-hidden {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}

@utility face-top {
  transform: rotateX(90deg);
  transform-origin: bottom;
}

@utility face-bottom {
  transform: rotateX(-90deg);
  transform-origin: top;
}

@utility face-left {
  transform: rotateY(90deg);
  transform-origin: left;
  /* backface-visibility: hidden; */
}

@utility face-right {
  transform: rotateY(-90deg);
  transform-origin: right;
}

@utility face-front {
  transform: rotateY(0deg);
}

@utility face-back {
  transform: rotateY(180deg);
}

@utility text-sideways {
  text-orientation: sideways;
}
@utility writing-vertical-rl {
  writing-mode: vertical-rl;
}

@utility scrollbar-hidden {
  scrollbar-width: 0;

  &::-webkit-scrollbar {
    display: none;
  }
}

@custom-variant ios {
  @supports (-webkit-touch-callout: none) {
    @slot;
  }
}

@keyframes doNothing {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

/* @keyframes pan-3d {
  from {
    transform: rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateY(360deg) rotateZ(0deg);
  }
} */
@keyframes pan-3d {
  from {
    transform: rotateX(0deg) rotateZ(0deg);
  }
  /* 50% {
    transform: rotateX(deg) rotateZ(0deg);
  } */
  to {
    transform: rotateX(360deg) rotateZ(0deg);
  }
}
