@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-radial-gradient-shape: ;
  --tw-radial-gradient-size: farthest-corner;

  --tw-mask-from-opacity: 1;
  --tw-mask-to-opacity: 0;
  --tw-mask-from-position: 0%;
  --tw-mask-to-position: 100%;
}

/* Only iOS supports this touch-callout so we can use it for Safari-specific styling */
@supports (-webkit-touch-callout: none) {
  /* Fallback since Safari doesn't support the linear() timing function */
  .ease-spring {
    transition-timing-function: ease-in-out !important;
    transition-duration: calc(var(--tw-spring-duration) * 0.75);
  }
}

@keyframes doNothing {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes scaleOut {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
