@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-radial-gradient-shape: ;
  --tw-radial-gradient-size: farthest-corner;

  --tw-mask-from-opacity: 1;
  --tw-mask-to-opacity: 0;
  --tw-mask-from-position: 0%;
  --tw-mask-to-position: 100%;
}

@keyframes doNothing {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes scaleOut {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
